/*isi*/
.main {
    width: 75%;
    margin-left: 22%;
    box-sizing: border-box;
}
/*navbar*/
.navbar {
	width: 20%;
	background-color: #333;
	position: fixed;
	padding-bottom: 1000px;
}
/*judul*/
.judul {
	margin-bottom: 40px;
}
/*tambah dan search*/
.tambah-button {
	display: flex;
}

/*form*/
button {
	margin-top: 20px;
}
form {
    padding: 50px 100px 100px 100px;
}
/*footer*/

footer {
	padding: 5px 10px;
	text-align: center;
	background: #333;
	color: #fff;
}
footer i{
    color: #2979ff;
}
@media only screen and (max-width: 990px) {
    .main {
        width: 100%;
        margin: 0;
        padding: 15px;
    }
    .navbar {
    	position: static;
    	padding-bottom: 0;
    	width: 100%;
    }
    .data {
    	margin: 10px auto;
    }
    .data table {
    	width: 100%;
    }
    #login {
        background-color: #007bff;
    }
}
@media only screen and (max-width: 720px) {
	.navbar {
		width: 100%;
		position: static;
		padding-bottom: 0;
	}
}